.conditions { 
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.conditions h3 { 
    text-align: center;
    color: var(--color-btn);
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.condition__types { 
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* Media Queries */

/* Mobile phones */

@media only screen and (max-width: 550px) { 
    .conditions h2 { 
        font-weight:500;
    }
}

/* Medium screen sizes */

@media only screen and (max-width: 550px) { 
    .condition__types { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .conditions h3 { 
        font-size: 16px;
    }
}