.zima__header { 
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Zima__quote{
    color: var(--color-navbar);
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Zima__quote span{
    margin: .5rem;
}
.zima__header-img{
    height: 80vh;
    max-width: 60%;
}
.zima__header--action{
    /*align-self: flex-start;
    margin-left: 3rem !important;*/
    font-size: 1.3rem;
    font-weight: normal;
    background: var(--color-btn);
    box-shadow: 0 8px 26px 0 #161b5e5e;
    padding: 0.8rem;
    border-radius: 12px;
    margin-top: 5rem !important;
    animation-name: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.zima__header--action:hover{
    animation: none;
}
@keyframes wiggle{
    0%{
        transform: rotate(0deg);
       }
       20%{
        transform: rotate(-5deg);
       }
       40%{
        transform: rotate(5deg);
       }
       60%{
        transform: rotate(-5deg);
       }
       80%{
        transform: rotate(5deg);
       }
       100%{
        transform: rotate(-2deg);
       }
}

@-ms-keyframes wiggle{
    0%{
     transform: rotate(0deg);
    }
    20%{
     transform: rotate(-5deg);
    }
    40%{
     transform: rotate(5deg);
    }
    60%{
     transform: rotate(-10deg);
    }
    80%{
     transform: rotate(5deg);
    }
    100%{
     transform: rotate(-5deg);
    }
}

@media (max-width:550px) {
    .zima__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Zima__quote{
        font-size: 1.2rem;
        width: 100%;
        height: 50vh;
        color: var(--color-btn);
    }
    .Zima__quote span{
        margin: 0.2rem !important;
    }
    .Zima__quote span:last-of-type{
        margin-top: 3rem !important;
    }
    .zima__header-img{
        display: none;
        position:absolute;
        top: 18%;
        max-height: 30vh;
        min-width: 100%;
        align-self: center;
        justify-self: center;
        z-index: -1;
        margin-left: -9.5%;
    }
    .zima__header--action{
        color: var(--color-navbar);
        font-size: 1rem;
        padding: 0.4rem 0.6rem;
        margin-top: 3rem !important;
    }
}

@media (max-width:800px){
    .Zima__quote{
        font-size: 1.2rem;
    }
    .zima__header-img{
        height: 40vh;
        width: auto;
    }
    .zima__header--action{
        color: var(--color-navbar);
        font-size: 1rem;
        margin-top: 3rem !important;
    }
}
@media (max-width:1024px){
    .Zima__quote{
        font-size: 1.5rem;
    }
    .Zima__quote span{
        margin: 1rem;
    }
}