.zima__footer { 
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 4rem;
}

.zima__footer--links { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.zima__footer--links a { 
    color: var(--light-text);
    margin: 0.5rem;
}

.zima__footer--links a:hover { 
    color: var(--color-btn);
}

.zima__footer--separation { 
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.zima__footer--social { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.zima__footer--social a { 
    color: var(--light-text);
    margin: 1rem 3rem;
}

.zima__footer--copyright { 
    color: var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Social links hover states */
.instagram:hover {
    color: magenta;
}

.facebook:hover { 
    color: blue;
}

.twitter:hover { 
    color: blue;
}

.whatsapp:hover { 
    color: mediumspringgreen;
}

/* Media Queries */

/* Mobile phones */

@media only screen and (max-width: 550px) { 
    .zima__footer--social a { 
        font-size: 1em;
        margin: 1rem;
    }

    .zima__footer--links a { 
        font-size: 14px;
    }

    .zima__footer--copyright { 
        font-size: 14px;
    }
}

/* Medium devices - Tablets */