@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    /* Fonts */
    --font-family: 'Lato', sans-serif;

    /* Colors */
    --color-bg: #F9F4F5;
    --color-footer: #193B78;
    --color-navbar: #193B78;
    --color-text: #222323;
    --color-btn: #1CF25A;
    --light-text: #F9F4F5;
}